In [1]:
import pandas as pd
import nltk
import os

In [2]:
os.listdir()

['(학술자료_해외) animal.ipynb',
 '(학술자료_해외) animal_2.ipynb',
 '(학술자료_해외) Biodiversity.ipynb',
 '.ipynb_checkpoints',
 'DMZ Data']

In [9]:
url = 'E:/[학교폴더]/[개별공부]/[GP]/DMZ Data'
os.listdir(url)

['(학술논문)자연과학 전체(해외).xlsx',
 '(학술논문)자연과학 전체.xlsx',
 '(학술논문_국내) 동물.xlsx',
 '(학술논문_국내) 보전.xlsx',
 '(학술논문_국내) 북한.xlsx',
 '(학술논문_국내) 생물다양성.xlsx',
 '(학술논문_국내) 식물.xlsx',
 '(학술자료_해외) animal.xlsx',
 '(학술자료_해외) Biodiversity.xlsx',
 '(학술자료_해외) plant.xlsx',
 '(학술자료_해외) preservation or conservation.xlsx',
 '(학술자료_해외) south korea.xlsx']

    이런식으로 파일 url 지정해서 한번에 불러올 수 있겠구나.

In [10]:
# 경로 안 파일목록 list에 대해 loop
for filename in os.listdir(url):
    # 엑셀파일 하나씩 읽어오기
    df = pd.read_excel(url + '/' + filename, sheet_name = 'Sheet1')
    
    # 제대로 읽혀왔는지 Check.
    print(filename)
    print(df.loc[[0,1], 'Contents'], '\n')

(학술논문)자연과학 전체(해외).xlsx
0     0285 Agronomy  0481 Soil sciences  0768 Envir...
1     0337 American history  0768 Environmental sci...
Name: Contents, dtype: object

(학술논문)자연과학 전체.xlsx
0              원격탐사 자료를 활용한 임진강 접경지역 홍수예측
1    디지털 자연보전 AI를 이용한 DMZ 야생동물 종 및 개체수 분석
Name: Contents, dtype: object

(학술논문_국내) 동물.xlsx
0    디지털 자연보전 AI를 이용한 DMZ 야생동물 종 및 개체수 분석
1    민통선이북지역DMZ 백두대간보호지역의 저서성 대형무척추동물상 분석
Name: Contents, dtype: object

(학술논문_국내) 보전.xlsx
0    보전지역과 개발가능지의 설정에 관한 연구 경기도 접경지역의 사례를 중심으로
1                             접경지역의 보전 및 관리방안
Name: Contents, dtype: object

(학술논문_국내) 북한.xlsx
0    주제발표 1 중·북·러 접경지역 경제·물류네트워크의 지정학적 중요성에 대한 역사적 통찰
1                         통일후 북한의 대량난민문제에 대비한 접경지역 개발
Name: Contents, dtype: object

(학술논문_국내) 생물다양성.xlsx
0                      한반도 비무장지대DMZ 저서성 대형무척추동물의 생물다양성
1    DMZ는 1953년 정전협정 이후 설정된 군사분계선의 남북으로 설정된 완충지대이다 ...
Name: Contents, dtype: object

(학술논문_국내) 식물.xlsx
0    DMZ 불모지의 지속가능한 관리를 위한 자생식물 선정
1     강원도 고성군 비무장지대DMZ 인접지역의 식물자원
Name: Contents, dtype: object

(학술자료_해외) animal.xlsx
0     0284 Wildlife Conservation  0377 Art history ...
1     0800 Artificial intelligence In a multiagent ...
Name: Contents, dtype: object

(학술자료_해외) Biodiversity.xlsx
0     0329 Ecology  0729 Architecture The purpose o...
1     0626 Sociology  0478 Forestry This dissertati...
Name: Contents, dtype: object

(학술자료_해외) plant.xlsx
0     0544 Electrical engineering Ultrasonic inspec...
1     0538 Aerospace engineering  0544 Electrical e...
Name: Contents, dtype: object

(학술자료_해외) preservation or conservation.xlsx
0     0284 Wildlife Conservation  0377 Art history ...
1     0373 Geophysics  0725 Atmospheric sciences Th...
Name: Contents, dtype: object

(학술자료_해외) south korea.xlsx
0     0323 American studies  0337 American history ...
1     0323 American studies  0337 American history ...
Name: Contents, dtype: object

In [11]:
# 파일 이름 기준으로 영문 컨텐츠인지, 한글 컨텐츠인지 구분
files = pd.DataFrame({
    'FileName' : os.listdir(url),
    'Lang' : ['en', 'kr', 'kr', 'kr', 'kr', 'kr', 'kr', 'en', 'en', 'en', 'en', 'en']
})
files

                                       FileName Lang
0                        (학술논문)자연과학 전체(해외).xlsx   en
1                            (학술논문)자연과학 전체.xlsx   kr
2                             (학술논문_국내) 동물.xlsx   kr
3                             (학술논문_국내) 보전.xlsx   kr
4                             (학술논문_국내) 북한.xlsx   kr
5                          (학술논문_국내) 생물다양성.xlsx   kr
6                             (학술논문_국내) 식물.xlsx   kr
7                         (학술자료_해외) animal.xlsx   en
8                   (학술자료_해외) Biodiversity.xlsx   en
9                          (학술자료_해외) plant.xlsx   en
10  (학술자료_해외) preservation or conservation.xlsx   en
11                   (학술자료_해외) south korea.xlsx   en

    이런식으로 파일 정리해서 for loop을 통해 하나씩 읽어올 수 있을것.
    와우...
    
    한개 읽어와서 저걸 해보자

In [12]:
files['FileName'][0]

'(학술논문)자연과학 전체(해외).xlsx'

## 영어 컨텐츠

In [14]:
# 다 읽어올 필요 없이, Contents만 읽어오는게 더 편하지 않을까?
df = pd.read_excel(url + '/' + files['FileName'][0], sheet_name = 'Sheet1', usecols=['Contents'])
df.head()

                                            Contents
0   0285 Agronomy  0481 Soil sciences  0768 Envir...
1   0337 American history  0768 Environmental sci...
2   0286 Wildlife Management  0329 Ecology  0408 ...
3   0388 Hydrology  0372 Geology  0768 Environmen...
4   0324 Archaeology  0337 American history  0582...

In [17]:
# 문장들을 돌면서 Loop
# 띄어쓰기 기준으로 토큰화 진행하고 태깅을 한번에 같이한다.

for sentence in df['Contents']:
    words = nltk.tokenize.word_tokenize(sentence) # 각 문장 띄어쓰기 기준으로 토큰화
    tags = nltk.tag.pos_tag(words) # 단어별로 태깅작업

words[:5], tags[:5]

(['0337', 'American', 'history', '0332', 'History'],
 [('0337', 'CD'),
  ('American', 'JJ'),
  ('history', 'NN'),
  ('0332', 'CD'),
  ('History', 'NN')])

    https://www.guru99.com/pos-tagging-chunking-nltk.html
    POS tag list.
    명사만 뽑아야 하니 NN?

In [18]:
# 번거롭지만 다시 쓰자.

# 문장들을 돌면서 Loop
# 띄어쓰기 기준으로 토큰화 진행하고 태깅을 한번에 같이한다.

for sentence in df['Contents']:
    words = nltk.tokenize.word_tokenize(sentence) # 각 문장 띄어쓰기 기준으로 토큰화
    tags = nltk.tag.pos_tag(words) # 단어별로 태깅작업
    
    # ('NN' in tage) --> NN이 붙은건 명사들. 명사만 뽑고
    # len(word) != 1 --> 길이가 1인 것들은 I, a 이런거. 불필요.
    # 이 조건들을 만족하는 단어(word)를 tags에 있는 (word, tag) 쌍에서 가져온다.
    # 그런데 이렇게하면 history / History || science / sciences 이런건?
    wordList = [word for word, tag in tags if ('NN' in tag) & (len(word) != 1)]

print(wordList[:5])

['history', 'History', 'Environmental', 'science', 'dissertation']

    이쪽 부분은 내가 진행했던거로 하면 좀더 낫지 않을까 싶은데 한번 해보자.

In [20]:
# 숫자 제거
df['Contents_clean'] = df['Contents'].str.replace("[^a-zA-Z]+", " ")

# 길이가 3 이하인 단어 제거
df['Contents_clean'] = df['Contents_clean'].apply(lambda x: ' '.join([w for w in x.split() if len(w) > 3]))

# 전채 소문자 화
df['Contents_clean'] = df['Contents_clean'].apply(lambda x: x.lower())

df.head()

C:\Users\skdbs\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

,Contents,Contents_clean
0,0285 Agronomy 0481 Soil sciences 0768 Envir...,agronomy soil sciences environmental science p...
1,0337 American history 0768 Environmental sci...,american history environmental science native ...
2,0286 Wildlife Management 0329 Ecology 0408 ...,wildlife management ecology conservation zoolo...
3,0388 Hydrology 0372 Geology 0768 Environmen...,hydrology geology environmental science monte ...
4,0324 Archaeology 0337 American history 0582...,archaeology american history modern history en...

In [50]:
# 문장들(Contents_clean)을 돌면서 loop
# 띄어쓰기 기준으로 토큰화 진행하면서 태깅작업도 같이.

for sentence in df['Contents_clean']:
    # lower로 대소문자 변환,
    # set 으로 중복단어 제거 후,
    # pos_tag써서 태깅작업.
    # words = list(set(nltk.tokenize.word_tokenize(sentence)))
    
    # 단어가 몇번 나왔는지를 알아야 하니 지우면 안되겠구나 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ
    # words = list(set(nltk.tokenize.word_tokenize(sentence)))
    words = nltk.tokenize.word_tokenize(sentence)
    
    # 대->소 변환 후 set 하는게 나을듯 이미햇잖아 ㅅㅂ 
    # lower_word = list(map(lambda x: x.lower, words)) # 단순히 이렇게하면 function str.lower()가 됨.
    # lower_word = [x.lower() for x in words]
    word_with_tag = nltk.tag.pos_tag(words)
    
    # ('NN' in tage) --> NN이 붙은건 명사들. 명사만 뽑고
    # len(word) != 1 --> 길이가 1인 것들은 I, a 이런거. 불필요.
    # 이 조건들을 만족하는 단어(word)를 tags에 있는 (word, tag) 쌍에서 가져온다.
    # 그런데 이렇게하면 history / History || science / sciences 이런건?
    # wordList = [word for word, tag in tags if ('NN' in tag) & (len(word) != 1)]
    wordList = [word for word, tag in word_with_tag if ('NN' in tag) & (len(word) != 1)]

words[:10], word_with_tag[:10], wordList[:10]

(['american',
  'history',
  'history',
  'environmental',
  'science',
  'this',
  'dissertation',
  'offers',
  'environmental',
  'perspective'],
 [('american', 'JJ'),
  ('history', 'NN'),
  ('history', 'NN'),
  ('environmental', 'JJ'),
  ('science', 'NN'),
  ('this', 'DT'),
  ('dissertation', 'NN'),
  ('offers', 'VBZ'),
  ('environmental', 'JJ'),
  ('perspective', 'NN')],
 ['history',
  'history',
  'science',
  'dissertation',
  'perspective',
  'vietnam',
  'examination',
  'herbicides',
  'purposes',
  'jungles'])

In [47]:
len(df['Contents']), len(wordList)

(51, 30)

    이러니 프레임에 안들어가지.
    일단 Contents별로 단어(명사)들은 쭉 뽑음.

In [51]:
# 각 단어가 몇번 나왔는지 Counting?
wordDict = {}
for word in wordList :
    if word in wordDict.keys():
        wordDict[word] += 1
    else:
        wordDict[word] = 1
wordDict

{'history': 2,
 'science': 1,
 'dissertation': 1,
 'perspective': 1,
 'vietnam': 1,
 'examination': 1,
 'herbicides': 1,
 'purposes': 1,
 'jungles': 1,
 'highlands': 1,
 'issues': 1,
 'causes': 1,
 'time': 1,
 'environmentalist': 1,
 'concern': 1,
 'pollution': 1,
 'toxicity': 1,
 'search': 1,
 'visibility': 1,
 'destruction': 2,
 'communities': 1,
 'ecosystems': 1,
 'results': 1,
 'account': 1,
 'kennedy': 1,
 'administration': 1,
 'government': 1,
 'program': 1,
 'defoliation': 1,
 'crop': 1,
 'orange': 1,
 'controversy': 1,
 'states': 1}

In [53]:
stop = [x[0] for x in sorted(wordDict.items(), key = (lambda x : x[1]), reverse = True)[:200]]
stop

['history',
 'destruction',
 'science',
 'dissertation',
 'perspective',
 'vietnam',
 'examination',
 'herbicides',
 'purposes',
 'jungles',
 'highlands',
 'issues',
 'causes',
 'time',
 'environmentalist',
 'concern',
 'pollution',
 'toxicity',
 'search',
 'visibility',
 'communities',
 'ecosystems',
 'results',
 'account',
 'kennedy',
 'administration',
 'government',
 'program',
 'defoliation',
 'crop',
 'orange',
 'controversy',
 'states']

In [59]:
# 문서 1개에 대해 Counting까지 됐고, Gephi에서 받을 수 있는 형태로 두자.
n_result = []
for results in wordList:
    n_result.append(results)
 
pd.DataFrame(n_result).to_csv(url + 'first.csv', index=False, header=False)

    이거로 되나?
    
    될리가없지 ㅋㅋ;;
    
    영어 문장들만 해서 새로운 파일로 해보자.