## R 조건문

<br>

**if 문 && if-else문**

<br>

- 기존 언어의 if와 같음.
- 조건비교연산자 : **>, <, >=, <=, ==, !=**
- 논리연산자 : **&& (and), | (or), ! (not)**
- else는 if{} 뒤에 바로 붙여줘야 함. 타 언어처럼 줄바꿈 하면 안됨.
    - if{~}else{~}

In [3]:
a <- 8
# a가 짝수인지?
if(a %% 2 == 0){
    result <- '짝수'
} else {
    result <- '홀수'
}
result

[1] "짝수"

In [10]:
a <- as.numeric(readline()) # 숫자로 입력받기
if (a %% 3 == 0 && a %% 5 == 0){
    result <- '3의 배수이면서 5의 배수'
} else if (a %% 3 == 0){
    result <- '3의 배수'
} else if (a %% 5 == 0){
    result <- '5의 배수'
} else {
    result <- '3의 배수도 아니고, 5의 배수도 아닌 수'
}
result

15

[1] "3의 배수이면서 5의 배수"

**ifelse문**

<br>

- **Vector에 대한 조건연산**을 손쉽게 할 수 있음.
- **ifelse(조건대상, 참일때 실행할 문장, 거짓일때 실행할 문장)**

In [14]:
a <- c(10, 13, 7, 8, 100)
ifelse(a %% 2 == 0, '짝수', '홀수')

# 결과를 DataFrame으로 만들어보자
result <- c(ifelse(a %% 2 == 0, '짝수', '홀수'))
df <- data.frame(a, result)
df

# ifelse안에 또 다른 ifelse문을 넣을 수도 있음.
a2 <- c(10, 13, 7, 8, 20)
result2 <- ifelse(a2 > mean(a2), '평균초과', ifelse(a2 < mean(a2), '평균미달', '평균값'))
df2 <- data.frame(a2, result2)
df2

[1] "짝수" "홀수" "홀수" "짝수" "짝수"

  a   result
1  10 짝수
2  13 홀수
3   7 홀수
4   8 짝수
5 100 짝수

  a2 result2
1 10 평균미달
2 13 평균초과
3  7 평균미달
4  8 평균미달
5 20 평균초과

## R 반복문

<br>

**for문**

<br>

- 다른 언어의 for문과 동일함.
    - **for(변수명 in 반복횟수) {실행할 문장}**

In [17]:
y <- 0

# 1부터 5까지를 x에 할당하고 y랑 더하기.
for (x in 1:5){
    y <- y + x
    cat('1 부터', x, ' 까지 합 = ', y, '\n') # 문자열과 변수를 합쳐서 출력함.
}
y

1 부터 1  까지 합 =  1
1 부터 2  까지 합 =  3
1 부터 3  까지 합 =  6
1 부터 4  까지 합 =  10
1 부터 5  까지 합 =  15

[1] 15

In [18]:
# for를 이용한 vector접근
a <- c(4, 25, 8, 33, 17, 20)
evensum <- 0
# 1부터 벡터a의 길이까지 반복
for(x in 1:length(a)){
    # index를 참조하며
    # 해당 원소가 짝수라면 더하기.
    if(a[x] %% 2 == 0){
        evensum <- evensum + a[x]
    }
}
evensum

[1] 32

In [19]:
# 구구단?
gugudan <- matrix(0, nrow=9, ncol=9)

for(i in 1:9){
    for(j in 1:9){
        # 행렬 참조는 [i][j]가 아닌 [i,j]
        gugudan[i,j] <- i * j
    }
}
gugudan

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9]
 [1,] 1     2    3    4    5    6    7    8    9
 [2,] 2     4    6    8   10   12   14   16   18
 [3,] 3     6    9   12   15   18   21   24   27
 [4,] 4     8   12   16   20   24   28   32   36
 [5,] 5    10   15   20   25   30   35   40   45
 [6,] 6    12   18   24   30   36   42   48   54
 [7,] 7    14   21   28   35   42   49   56   63
 [8,] 8    16   24   32   40   48   56   64   72
 [9,] 9    18   27   36   45   54   63   72   81

**while문**

<br>

- 다른 언어 while과 동일
    - **while(조건) {반복할 문장}**
    - **조건이 참** 일때 블록 안의 문장을 수행.
- 마찬가지로 조건문을 통해 break를 걸어줄 수도 있음.

In [22]:
i <- 1
isum <- 0

while (TRUE){
    isum <- isum + i**2
    cat('1 부터', i, ' 제곱 까지 합 = ', isum, '\n')
    if (isum >= 500){
        break
    }
    i <- i+1
}

1 부터 1  제곱 까지 합 =  1
1 부터 2  제곱 까지 합 =  5
1 부터 3  제곱 까지 합 =  14
1 부터 4  제곱 까지 합 =  30
1 부터 5  제곱 까지 합 =  55
1 부터 6  제곱 까지 합 =  91
1 부터 7  제곱 까지 합 =  140
1 부터 8  제곱 까지 합 =  204
1 부터 9  제곱 까지 합 =  285
1 부터 10  제곱 까지 합 =  385
1 부터 11  제곱 까지 합 =  506

**repeat 문**

<br>

- 블록 안의 문장을 반복실행. 명시된 실행 조건이 X.
    - **repeat {반복실행할 문장}**
    - 마찬가지로 if조건을 지정해 break를 걸어줄 수 있음.

In [24]:
a <- c(23, 15, 17, 33, 45)
i <- 1

repeat {
    # 평균을 넘어간다면 break.
    if(a[i] > mean(a)) break
    i <- i + 1
}
a[i]

[1] 33