## R 함수

<br>

- 내장함수 and 사용자 정의 함수.
- 많이 사용하는 내장 함수
    - mean(), sum(), sd(), var(), sort(), min(), max(), median(), cor() - 상관계수 구하기, range() - 범위 (최대-최소) 구하기, rev() - 반대로 나열
    
-----------------
- apply 함수 : 벡터, 행렬, DF 등에서 **행/열 단위의 필요한 계산 작업**을 쉽게 하는데 유용한 함수.
    - **apply(대상객체, 행(1) or 열(2), 적용할 함수)** (열 중심이면 2, 행 중심이면 1)
        - lapply() : 계산 결과를 list 형태로 변환해서 출력
        - sapply() : 계산 결과를 vector 형태로 변환해서 출력
        - tapply() : 계산 결과를 특정 부분으로 그룹화해서 출력

In [1]:
height <- c(177, 180, 167, 165, 170, NA)
weight <- c(NA, 77.3, 80, 60, NA, 64)
df <- data.frame(신장 = height, 체중 = weight)
names(df) <- c('신장', '체중')
df

  신장 체중
1 177    NA
2 180  77.3
3 167  80.0
4 165  60.0
5 170    NA
6  NA  64.0

In [4]:
# 위 프레임에서 NA를 제외한 컬럼 별 평균을 계산?
apply(df, 2, mean, na.rm=TRUE)

# lapply - 행 중심이므로 별도 1,2 지정 X.
lapply(df, max, na.rm=TRUE)

# sapply - 마찬가지.
sapply(df, max, na.rm=TRUE)

   신장    체중
171.800  70.325

$신장
[1] 180

$체중
[1] 80

신장 체중
 180   80

In [8]:
# tapply이용
dflist <- read.table('UseData/passlist.txt', header=TRUE)
dflist

# 성별을 기준으로 평점 계산
tapply(dflist$평점, dflist$성별, mean)
# 성별 기준으로 나이 계산 - simplify=FALSE 하면 list형태로 볼 수있음. (안쓰면 vector로.)
tapply(dflist$나이, dflist$성별, mean, simplify=FALSE)

   나이 성별 평점
1  33   남   4.30
2  28   남   4.20
3  35   여   4.10
4  29   여   3.70
5  36   남   4.50
6  32   여   4.40
7  30   여   3.80
8  36   남   3.90
9  28   여   4.20
10 35   여   4.50
11 31   여   4.60
12 27   남   4.00
13 26   여   4.20
14 33   여   4.30
15 34   남   4.50
16 33   여   4.40
17 26   여   4.33
18 25   남   3.87
19 35   여   4.00
20 32   여   3.60

      남       여
4.181429 4.163846

$남
[1] 31.28571

$여
[1] 31.15385

**사용자 정의함수**

<br>

    함수이름 <- function(인자){함수 몸체 .. return(반환값)}
        인자는 없을 수 도 있음.
        
    source 함수를 이용해 외부에서 정의한 함수를 load해서 사용할 수도 있음.

In [12]:
# 인자 없는 함수
info <- function(){
    print('R programming')
}
info() # 호출

# 인자 있는 함수
info2 <- function(msg){
    print(msg)
}
info2('Hello')

[1] "R programming"
[1] "Hello"

In [14]:
# 함수 응용?
basicInfo <- function(x){
    amin <- min(x)
    amax <- max(x)
    amean <- mean(x)
    astd <- sd(x)
    avar <- var(x)
    
    toInfo <- list(최소값=amin, 최대값=amax, 평균=amean, 표준편차=astd, 분산=avar)
    return(toInfo)
}

a <- c(68, 75, 80, 85, 92, 77, 83, 65, 95)
basicInfo(a)

$최소값
[1] 65

$최대값
[1] 95

$평균
[1] 80

$표준편차
[1] 10.03743

$분산
[1] 100.75

In [16]:
# 외부 파일에서 정의한 함수 사용?
source('UseData/calc.txt')
x <- c(555, 321, 45, 6, 12)
calc(x)

$합계
[1] 939

$정렬결과
[1]   6  12  45 321 555